body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton {
    padding: 10px;
    margin: 5px;
}

.boton img {
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.mezclar {
    margin-top: 20px;
}


#puntaje {
    text-align: center;
    font-size: 18px;
    margin-top: 10px; /* Ajusta según sea necesario */
}

#titulo {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px; /* Ajusta según sea necesario */
}
